{{#isTypeScript}}
import {
    CallableTranslations,
    createCallableTranslations,
    LangTagTranslations,
    LangTagTranslationsConfig
} from 'lang-tag';
{{/isTypeScript}}
{{^isTypeScript}}
import { createCallableTranslations } from 'lang-tag';
{{/isTypeScript}}
{{#isReact}}
import { ReactNode, useMemo } from 'react';
{{/isReact}}

export function {{tagName}}<T extends LangTagTranslations>(
    baseTranslations: T,
    config?: LangTagTranslationsConfig,
) {
    const client = () => {
        {{#isReact}}
        return useMemo(
            () =>
                createCallableTranslations(baseTranslations, config, {
                    transform: ({ value, params }) =>
                        reactProcessPlaceholders(value, params),
                }),
            [],
        );
        {{/isReact}}
        {{^isReact}}
        return createCallableTranslations(baseTranslations, config, {
            transform: ({ value, params }) =>
                processPlaceholders(value, params),
        });
        {{/isReact}}
    };

    const server = () => {
        return createCallableTranslations(baseTranslations, config, {
            transform: ({ value, params }) => {
                {{#isReact}}
                return reactProcessPlaceholders(value, params);
                {{/isReact}}
                {{^isReact}}
                return processPlaceholders(value, params);
                {{/isReact}}
            },
        });
    };

    return {
        client,
        server,
        Type: {} as CallableTranslations<T>,
    };
}
