{{#isTypeScript}}
import {
    CallableTranslations,
    createCallableTranslations,
    LangTagTranslations,
    LangTagTranslationsConfig
} from 'lang-tag';
{{/isTypeScript}}
{{^isTypeScript}}
import { createCallableTranslations } from 'lang-tag';
{{/isTypeScript}}
{{#isReact}}
import { ReactNode, useMemo } from 'react';
{{/isReact}}

export function {{tagName}}{{#isTypeScript}}<T extends LangTagTranslations>{{/isTypeScript}}(
    baseTranslations{{#isTypeScript}}: T{{/isTypeScript}},
    config{{#isTypeScript}}?: LangTagTranslationsConfig{{/isTypeScript}},
) {
    const client = () => {
        {{#isReact}}
        return useMemo(
            () =>
                createCallableTranslations(baseTranslations, config, {
                    transform: ({ value, params }) =>
                        processPlaceholders(value, params),
                }),
            [],
        );
        {{/isReact}}
        {{^isReact}}
        return createCallableTranslations(baseTranslations, config, {
            transform: ({ value, params }) =>
                processPlaceholders(value, params),
        });
        {{/isReact}}
    };

    const server = () => {
        return createCallableTranslations(baseTranslations, config, {
            transform: ({ value, params }) => {
                return processPlaceholders(value, params);
            },
        });
    };

    return {
        client,
        server,
        {{#isTypeScript}}
        Type: {} as CallableTranslations<T>,
        {{/isTypeScript}}
    };
}
