{{#isTypeScript}}
import {
    CallableTranslations,
    createCallableTranslations,
    LangTagTranslations,
    LangTagTranslationsConfig
} from 'lang-tag';
{{/isTypeScript}}
{{^isTypeScript}}
import { createCallableTranslations } from 'lang-tag';
{{/isTypeScript}}
{{#isReact}}
import { ReactNode, useMemo } from 'react';
{{/isReact}}

export function {{tagName}}<T extends LangTagTranslations>(
    baseTranslations: T,
    config?: LangTagTranslationsConfig,
) {
    {{#isLibrary}}
    // Library mode - optimized for reusability
    const createTranslations = () => {
        return createCallableTranslations(baseTranslations, config, {
            transform: ({ value, params }) => {
                {{#isReact}}
                return reactProcessPlaceholders(value, params);
                {{/isReact}}
                {{^isReact}}
                return processPlaceholders(value, params);
                {{/isReact}}
            },
        });
    };

    return {
        create: createTranslations,
        Type: {} as CallableTranslations<T>,
    };
    {{/isLibrary}}
    {{^isLibrary}}
    // Application mode - optimized for client/server usage
    const client = () => {
        {{#isReact}}
        return {{#isReact}}useMemo{{/isReact}}(
            () =>
                createCallableTranslations(baseTranslations, config, {
                    transform: ({ value, params }) =>
                        reactProcessPlaceholders(value, params),
                }),
            [],
        );
        {{/isReact}}
        {{^isReact}}
        return createCallableTranslations(baseTranslations, config, {
            transform: ({ value, params }) =>
                processPlaceholders(value, params),
        });
        {{/isReact}}
    };

    // server side
    const server = () => {
        // TODO: retrieve language from cookies there

        return createCallableTranslations(baseTranslations, config, {
            transform: ({ value, params }) => {
                {{#isReact}}
                return reactProcessPlaceholders(value, params) as unknown as string;
                {{/isReact}}
                {{^isReact}}
                return processPlaceholders(value, params);
                {{/isReact}}
            },
        });
    };

    return {
        client,
        server,
        Type: {} as CallableTranslations<T>,
    };
    {{/isLibrary}}
}
