{{#isReact}}
/**
 * Replaces placeholders in translations with React nodes.
 * Placeholders use the format {{tmpVariables.key}}, for example:
 * --- Translation Definition ---
 * const translations = {{tagName}}({ hello: "Hello {{tmpVariables.username}}!" });
 * --- Translation ---
 * const t = translations.client();
 * // String parameter:
 * return <div>{ t.hello({ username: "Paul" }) }</div>
 * // ReactNode parameter:
 * return (<div>
 *      <span>{ t.hello({ username: <span className="font-bold">Paul</span> }) }</span>
 * </div>);
 */
export function reactProcessPlaceholders(
    translation: string,
    params?: { [key: string]: ReactNode },
): string {
    if (typeof translation !== 'string') return '';

    const parts: ReactNode[] = [];
    let lastIndex = 0;

    translation.replace(/{{tmpVariables.processRegex}}/g, (match, placeholder, offset) => {
        if (lastIndex < offset) {
            parts.push(translation.slice(lastIndex, offset));
        }

        const key = placeholder.trim();
        if (params && key in params) {
            parts.push(params[key]);
        } else {
            parts.push('');
        }

        lastIndex = offset + match.length;
        return match;
    });

    if (lastIndex < translation.length) {
        parts.push(translation.slice(lastIndex));
    }

    // If there is no react nodes, return as one string
    if (parts.every(part => typeof part === 'string')) {
        return parts.join('');
    }

    return parts as unknown as string;
}
{{/isReact}}

{{^isReact}}
/**
 * Replaces placeholders in translations with string values.
 * Placeholders use the format {{tmpVariables.key}}, for example:
 * --- Translation Definition ---
 * const translations = {{tagName}}({ hello: "Hello {{tmpVariables.username}}!" });
 * --- Translation ---
 * const t = translations.client();
 * t.hello({ username: "Paul" })
 */
export function processPlaceholders(
    translation: string,
    params?: { [key: string]: string | number },
): string {
    if (typeof translation !== 'string') {
        // As a safeguard, return an empty string if the input is not a string.
        return '';
    }

    return translation.replace(/{{tmpVariables.processRegex}}/g, (_: any, placeholder: string) => {
        const trimmedPlaceholder = placeholder.trim();
        return params?.[trimmedPlaceholder] !== undefined ? String(params[trimmedPlaceholder]) : '';
    });
}
{{/isReact}}
