/**
 * Imported library translations
 * 
 * You can modify these translations as needed. On next import:
 * - Your changes will be preserved ( for now only translations values are preserved )
 * - New translations will be added
 * - Unused translations will be commented out
 */
{{tagImportPath}}

{{#exports}}
export const {{name}} = {{config.tagName}}({{parameter1}}{{#hasParameter2}}, {{parameter2}}{{/hasParameter2}});
{{/exports}}